* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    text-align: left;
    padding-bottom: 10px;
}
h4 {
    font-size: 24px;
    padding-bottom: 15px;
}

p {
    font-size: 18px;
    margin: 10px;
    line-height: 1rem;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

.hidden {
    display: none;
}

/* NavBar */

nav {
    text-align: right;
    padding: 1rem 3rem;
    position: relative;

}
nav ul {
    list-style: none;
    text-align: center;
    position: absolute;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0;
    z-index: 999;
}

nav a {
    text-decoration: none;
    color: black;
}

nav button {
    border: 0;
    background-color: transparent;
}

nav button:hover {
    cursor: pointer;
}

/* Experiencia y habilidades*/

#experienciayhabilidades {
    padding: 80px 0;
    background: #fcda68;
}

.experienciayhabilidades-row {
    display: flex;
}

.habilidades-row {
    display: flex;
}

.experienciayhabilidades-me,
.experienciayhabilidades-experiencia {
    width: 50%;
    padding-left: 50px;
}
/* Portafolio */

#portafolio {
    padding: 80px 0;
}

.portafolio-row {
    display: flex;
}

.portafolio-row img {
    width: 100%;
}

/* Contacto */

#contacto {
    padding: 5rem ;
    padding-left: 3rem;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
}

.schooling-header {
    text-align: center;
}

.schooling-content {
    display: flex;
    justify-content: center;
}

.schooling-card {
    text-align: center;
    margin: 4rem;
    padding: 1rem;
    width: 13rem;
}

.schooling-img {
    background-color: #f9f5f2;
    border-radius: 0.5rem;
    height: 7rem;
    width: 7rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacto img {
    height: 4rem;
    width: 4rem;
}

/* footer */

#mainfooter {
    text-align: center;
    color: #BE7BEF;
}