@media (min-width: 768px) {
    #nav li {
        display: inline-block;
        margin-left: 1rem;
    }
    #nav {
        display: block;
        text-align: right;
        background-color: transparent;
        position: static;
    }
    nav button{
        display: none;
    }
}

@media (min-width: 992px) {
    #nav li {
        margin-left: 3rem;
    }
}