<<<<<<< HEAD:media-queries.css
@media (min-width: 768px) {
    #nav li {
        display: inline-block;
        margin-left: 1rem;
    }
    #nav {
        display: block;
        text-align: right;
        background-color: transparent;
        position: static;
    }
    nav button{
        display: none;
    }
}

@media (min-width: 992px) {
    #nav li {
        margin-left: 3rem;
    }
}
=======
@media (min-width: 768px) {
    #nav li {
        display: inline-block;
        margin-left: 1rem;
    }
    #nav {
        display: block;
        text-align: right;
        background-color: transparent;
        position: static;
    }
    nav button{
        display: none;
    }
}

@media (min-width: 992px) {
    #nav li {
        margin-left: 3rem;
    }
}
>>>>>>> 00f5028f203754d27d0e68e3562f805b13c44981:zzzPortafolio 5/media-queries.css
